<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="movie-list">
      <div class="head">
        <h2><%= t ".new_reviews" %></h2>
        <h4><%= link_to t(".see_all"), top_movies_path(type: :top_reviewed) %></h4>
      </div>
        <% @new_reviewes.each do |movie| %>
          <%= render partial: "movies/movie", locals: {movie: movie} %>
        <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="movie-list">
      <div class="head">
        <h2><%= t ".top_rated" %></h2>
        <h4><%= link_to t(".see_all"), top_movies_path(type: :top_rated) %></h4>
      </div>
        <% @top_rated.each do |movie| %>
          <%= render partial: "movies/movie", locals: {movie: movie} %>
        <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="movie-list">
      <div class="head">
        <h2><%= t ".newest" %></h2>
        <h4><%= link_to t(".see_all"), top_movies_path(type: :top_updated) %></h4>
      </div>
        <% @newest.each do |movie| %>
          <%= render partial: "movies/movie", locals: {movie: movie} %>
        <% end %>
    </div>
  </div>
</div>

<div class="row">
  <%= render "trend" %>
</div>
