<li><strong><%= t ".rating" %>: </strong>
<div class="star-rating" data-score= <%= @avg_rating %> ></div>
<em>(<%= "#{@reviews.length} reviews" %></em>)</li>

<li><strong><%= t ".genre" %>: </strong><%= @movie.genre.name %></li>

<li><strong><%= t ".premiere" %>: </strong><%= @movie.release_date %></li>

<li><strong><%= t ".length" %>: </strong><%= @movie.length %></li>

<li><strong><%= t ".director" %>: </strong><%= @movie.description.director_name %></li>

<li><strong><%= t ".cast" %>: </strong><%= @movie.description.cast_name %></li>
