<li><strong><%= t ".rating" %>: </strong>
<div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
</li>
<li><strong><%= t ".genre" %>: </strong><%= @movie.genre.name %></li>
<li><strong><%= t ".premiere" %>: </strong><%= @movie.release_date %></li>
<li><strong><%= t ".length" %>: </strong><%= @movie.length %></li>
<li><strong><%= t ".director" %>: </strong><%= @movie.description.director_name %></li>
<li><strong><%= t ".cast" %>: </strong><%= @movie.description.cast_name %></li>