<div class="user-reviews">
  <% @reviews.each do |review| %>
    <div class="media">
      <div class="media-left">
        <%= link_to gravatar_for(review.user), user_path(review.user) %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= review.user.email %>
          <small><i><%= t ".posted" %> <%= review.created_at.strftime("%B %e, %Y") %></i></small></h4>
        <div class="star-rating" data-score= <%= review.rating %> ></div>
        <h5><%= review.title %></h5>
        <p><%= truncate strip_tags(review.content), length: Settings.reviews.cont_length %></p>
        <%= link_to t(".see_more") %>
        <div class="interactive-review">
          <div class="inter-label">
            <h4><%= t ".liked" %> <span class="badge"><%= review.count_like_reviews %></span></h4>
          </div>
          <div class="inter-actions">
            <% if user_signed_in? %>
              <% unless current_user.has_review?(review) %>
                <%= form_for @like do |f| %>
                  <%= render "shared/error_messages", object: f.object %>
                  <%= f.hidden_field :review_id, value: review.id %>
                  <h5><%= t ".ask" %></h5>
                  <%= f.submit t(".yes_btn") %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pagination">
    <%= will_paginate @reviews %>
  </div>
</div>
