<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="breadcrumbs">
        <a><%= t ".home" %></a>
        <%= link_to t(".movie_review"), movies_path %>
        <span><%= @movie.name %></span>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <figure class="movie-poster"><%= image_tag @movie.image %></figure>
          </div>
          <div class="col-md-5">
            <h2 class="movie-title"><%= @movie.name %></h2>
            <div class="movie-summary">
              <p><%= truncate @movie.synopsis, length: Settings.movies.synopsis_short %>.</p>
            </div>
            <ul class="movie-meta">
              <%= render "properties" %>
            </ul>
          </div>
        <div id="screenshots" class="col-md-4">
          <%= render "trailer" %>
        </div>
        </div>
        <div class="entry-content">
          <p><%= @movie.synopsis %></p>
        </div>
        <div class="row">
          <div class="col-md-5" id="movie-comments">
            <h2><%= t ".comments" %></h2>
            <div class="movie-comment">
              <% if user_signed_in? %>
                <%= render partial: "comments/comments" %>
                <%= render partial: "comments/form" %>
              <% else %>
                <%= render partial: "comments/comments" %>
              <% end %>
            </div>
          </div>

          <div class="col-md-7" id="movie-reviews">
            <h2><%= t ".review" %></h2>
            <% if current_user.try(:admin?) %>
              <div class="review">
                <%= render "reviews/reviews" %>
              </div>
              <div class="review-new">
                <%= render "reviews/form_type" %>
              </div>
            <% else %>
              <div class="review">
                <%= render "reviews/reviews" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
