<h2><%= t ".all" %></h2>
<table class="table table-hover">
  <%= link_to t(".add"), {action: "new"}, class: "add-book btn btn-primary" %>
  <thead class="table-title">
    <tr>
      <th><%= t ".id" %></th>
      <th><%= t ".image" %></th>
      <th><%= t ".title" %></th>
      <th><%= t ".trailer" %></th>
      <th><%= t ".genre" %></th>
      <th><%= t ".rd" %></th>
      <th><%= t ".syn" %></th>
      <th><%= t ".des" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= image_tag movie.image, id: "admin-image-movie" %></td>
        <td><%= movie.name %></td>
        <td><%= movie.trailer %></td>
        <td><%= movie.genre.name %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.synopsis %></td>
        <td><%= movie.description %></td>
        <td><%= link_to "Edit", [:admin, movie], method: :edit %>
            <%=link_to "Delete", [:admin, movie], method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @movies %>
