<% @reviews.each do |review| %>
  <div class="list-reviews">
    <div class="properties">
      <div class="star-rating" data-score= <%= review.rating %> ></div>
      <em><%= review.user.email %> (<%= time_ago_in_words(review.created_at) %> ago)</em>
      <div class="stats">
        <i class="fa fa-heart-o"> <%= review.like_reviews.count %></i>
      </div>
      <p><strong><%= review.title %></strong></p>
      <p><%= truncate strip_tags(review.content), length: Settings.reivews.cont_length %></p>
      <div class="like_review">
        <% if user_signed_in? %>
          <% unless current_user.has_review?(review) %>
            <p><%= t ".like" %></p>
            <%= form_for @like do |f| %>
              <%= hidden_field_tag :review_id, review.id %>
                <%= f.submit t(".yes_button"), class: "fa fa-heart-o" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <div class="line"></div>
  </div>
<% end %>
