<% @reviews.each do |review| %>
  <div class="list-reviews">
    <div class="properties">
      <div class="star-rating" data-score= <%= review.rating %> ></div>
      <em><%= review.user.email %> (<%= time_ago_in_words(review.created_at) %> ago)</em>
      <p><strong><%= review.title %></strong></p>
      <p><%= review.content %></p>
    <div class="line"></div>
  </div>
<% end %>
