<header class="site-header">
  <div class="container">
    <a href="index.html" id="branding">
      <img src="images/logo.png" alt="" class="logo">
      <div class="logo-copy">
        <h1 class="site-title">Company Name</h1>
        <small class="site-description">Tagline goes here</small>
      </div>
    </a>
    <div class="main-navigation">
      <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
      <ul class="menu">
        <li class="menu-item current-menu-item"><%= link_to t(".home"), root_path %></li>
        <li class="menu-item"><%= link_to t(".browse_movies"), movies_path %></li>
        <% if user_signed_in? %>
          <li class="menu-item"><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="menu-item"><%= link_to t(".login"), new_user_session_path %></li>
          <li class="menu-item"><%= link_to t(".register"), new_user_registration_path %></li>
        <% end %>
      </ul>
      <form action="#" class="search-form">
        <input type="text" placeholder="Search...">
        <button><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="mobile-navigation"></div>
  </div>
</header>
