<div class="col-sm-3 sidenav hidden-xs">
  <ul class="test">
    <li><%= link_to "Manage Requests", "#" %></li>
    <li><%= link_to "Manage Users", admin_users_path %></li>
    <li><%= link_to "Manage Movies", admin_movies_path %></li>
    <li><%= link_to "Manage Description", admin_descriptions_path %></li>
    <li><%= link_to "Manage Genres", admin_genres_path %></li>
  </ul>
</div>
