<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/head" %>
  </head>

  <body>
    <div id="site-content">
    <%= render "layouts/header" %>
      <main class="main-content">
        <div class="container">
          <div class="page">
            <%= render "shared/flash_message" %>
            <%= yield %>
          </div>
        </div>
      </main>
    <%= render "layouts/footer" %>
    </div>
  </body>
</html>
