<!DOCTYPE html>
<html>
  <head>
    <title>Pr1702MovieReview</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="site-content">
    <%= render "layouts/header" %>
      <main class="main-content">
        <div class="container">
          <div class="page">
            <%= render "shared/flash_message" %>
            <%= yield %>
          </div>
        </div>
      </main>
    <%= render "layouts/footer" %>
    </div>
  </body>
</html>
